// post_index.jsx
.post-index-container {
  margin: 50px auto 30px auto;
  max-width: 1032px;
}

.line-break {
  margin: 30px auto 20px auto;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.post-index-main {
  display: flex;
}

.post-index-items {
  width: 64%;
}

.footer-break {
  margin: 20px auto;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.footer-text {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', Arial, sans-serif;
  color: rgb(117, 117, 117);
  font-size: 13px;
}


// post_index_hero.jsx
.post-index-hero-container {
  display: flex;
  font-family: 'Open Sans', Arial, sans-serif;
}

.hero-left, .hero-middle {
  width: 35%;
  margin-right: 20px;
}

.hero-right {
  width: 26%;
}

.hero-middle-item {
  display: flex;
  margin-bottom: 20px;
}

.hero-left-img-container, .hero-right-img-container {
  display: flex;
  align-items: center;
  height: 150px;
  overflow: hidden;
}

.hero-middle-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.hero-middle-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.hero-left-title {
  margin: 15px 0 10px 0;
  font-size: 20px;
  font-weight: 600;
}

.hero-middle-title {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
}

.hero-right-title {
  margin: 15px 0 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.hero-left-preview, .hero-middle-preview, .hero-right-preview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgb(117, 117, 117);
  font-size: 13px;
  letter-spacing: 0.2px;
}

.hero-middle-preview {
  -webkit-line-clamp: 1;
}

.hero-right-preview {
  -webkit-line-clamp: 2;
}

.hero-author {
  margin-top: 20px;
  width: fit-content;
  font-size: 12px;
}

.hero-middle-author {
  width: fit-content;
  font-size: 12px;
}

.hero-author:hover, .hero-middle-author:hover {
  text-decoration: underline;
}


// post_index_item.jsx
.post-index-item-container {
  display: flex;
  margin: 50px 0;
  font-family: 'Open Sans', Arial, sans-serif;
}

.post-index-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.post-index-item-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

.post-index-item-author {
  width: fit-content;
  font-size: 12px;
}

.post-index-item-author:hover {
  text-decoration: underline;
}

.post-index-item-preview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: rgb(117, 117, 117);
  font-size: 13px;
  letter-spacing: 0.2px;
}

.post-index-item-img {
  height: 120px;
  width: 150px;
  object-fit: cover;
}


// popular_posts.jsx
.popular-posts-container {
  margin: 0 auto;
  width: 264px;
}

.popular-line-break {
  margin: 20px auto 30px auto;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.popular-posts-item {
  display: flex;
}