// post_index.jsx
.post-index-container {
  margin: 50px auto 30px auto;
  max-width: 1032px;
  font-family: 'Fira Sans', Geneva, Arial, sans-serif;
}

.post-index-main {
  display: flex;
}

.post-index-items {
  width: 64%;
}

.post-index-latest {
  margin-top: 26px;
  margin-bottom: 16px;
  color: rgb(80, 80, 80);
  font-size: 18px;
}


// post_index_hero.jsx
.post-index-hero-container {
  display: flex;
  margin-bottom: 24px;
}

.hero-left {
  width: 33%;
  margin-right: 24px;
}

.hero-middle {
  width: 36%;
  margin-right: 24px;
}

.hero-right {
  width: 26%;
}

.hero-middle-item {
  display: flex;
  margin-bottom: 20px;
}

.hero-left-img-container, .hero-right-img-container {
  display: flex;
  align-items: center;
  height: 150px;
  overflow: hidden;
  border-radius: 2px;
}

.hero-middle-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 2px;
}

.hero-middle-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.hero-left-title {
  margin: 15px 0 10px 0;
  font-size: 22px;
  font-weight: 500;
}

.hero-middle-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.hero-right-title {
  margin: 15px 0 10px 0;
  font-size: 20px;
  font-weight: 500;
}

.hero-left-preview, .hero-middle-preview, .hero-right-preview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgb(120, 120, 120);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
}

.hero-middle-preview {
  -webkit-line-clamp: 1;
}

.hero-right-preview {
  -webkit-line-clamp: 2;
}

.hero-author {
  margin-top: 20px;
  width: fit-content;
  font-size: 14px;
  color: rgb(26, 137, 23);
}

.hero-middle-author {
  width: fit-content;
  font-size: 14px;
  color: rgb(26, 137, 23);
}

.hero-author:hover, .hero-middle-author:hover {
  text-decoration: underline;
}


// post_index_item.jsx
.post-index-item-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-top: 1px solid rgb(230, 230, 230);
}

.post-index-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-index-item-title {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 500;
}

.post-index-item-author {
  width: fit-content;
  font-size: 14px;
  color: rgb(26, 137, 23);
}

.post-index-item-author:hover {
  text-decoration: underline;
}

.post-index-item-preview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 24px;
  color: rgb(120, 120, 120);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
}

.post-index-item-img {
  margin-left: 42px;
  height: 120px;
  width: 140px;
  object-fit: cover;
  border-radius: 2px;
}


// popular_posts.jsx
.popular-posts-container {
  position: sticky;
  top: 0;
  margin: 0 30px 0 auto;
  height: fit-content;
  width: 264px;
}

.popular-posts-heading {
  margin-top: 20px;
  font-weight: 500;
  font-size: 22px;
}

.popular-line-break {
  margin: 18px auto 28px auto;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.popular-posts-item {
  display: flex;
  justify-content: space-between;
  margin: 28px auto;
}

.popular-posts-number {
  margin-top: -4px;
  color: rgb(210, 210, 210);
  font-size: 30px;
  font-weight: 300;
}

.popular-posts-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 218px;
}

.popular-posts-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
  font-size: 16px;
}

.popular-posts-author {
  color: rgb(26, 137, 23);
  font-size: 14px;
  font-weight: 300;
}