.nav-bar-container, .nav-bar, .header-link, .nav-bar-right {
  display: flex;
  align-items: center;
}

.nav-bar-container {
  height: 65px;
  box-shadow: 0px 0px 14px -1px rgb(222, 222, 222);
}

.nav-bar {
  justify-content: space-between;
  margin: auto;
  width: 82%;
}

.header-link {
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 700;
  font-size: 27px;
}

.login-button {
  margin: auto 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  color: rgb(3, 169, 125);
}

.login-button:hover {
  color: rgb(1, 143, 105);
}

.signup-button, .logout-button {
  width: 104px;
  height: 35px;
  border-radius: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(3, 169, 125);
  color: rgb(3, 169, 125);
}

.signup-button:hover, .logout-button:hover {
  border: 1px solid rgb(2, 158, 116);
  color: rgb(1, 143, 105);
}

.nav-bar-msg {
  margin: auto 20px;
  font-family: 'Lora', Georgia, serif;
  font-size: 16px;
}