.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.modal-child {
  background-image: url(https://cdn-images-1.medium.com/max/1800/1*gnUBeL-INIVDk0_GyL8x1g.png);
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 550px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background: white;
  box-shadow: 0px 2px 10px 0px silver;
}