// post_form.jsx
.post-form-container {
  display: flex;
  justify-content: flex-start;
  margin: 30px auto;
  width: 700px;
  height: 800px;
}

.post-form {
  display: flex;
  flex-direction: column;
  font-family: 'Lora', Georgia, serif;
  width: 100%;
}

.post-form-buttons {
  align-self: flex-end;
  margin: 10px 0px;
}

.post-form-delete, .post-form-submit {
  margin-left: 10px;
  width: 104px;
  height: 23px;
  border-radius: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(3, 169, 125);
  color: rgb(3, 169, 125);
}

.post-form-delete:hover, .post-form-submit:hover {
  border: 1px solid rgb(2, 158, 116);
  color: rgb(1, 143, 105);
}

.post-form-title {
  width: 694px;
  padding-left: 5px;
  font-size: 35px;
  border-left: 1px solid rgb(211, 211, 211);
  color: rgb(0, 0, 0);
}

.post-form-title::placeholder {
  color: rgb(180, 180, 180);
}

.post-form-body {
  margin-top: 20px;
  padding-left: 5px;
  width: 694px;
  height: 100%;
  resize: none;
  line-height: 1.8;
  letter-spacing: 0.15px;
  font-size: 19px;
  border-left: 1px solid rgb(211, 211, 211);
  color: rgb(0, 0, 0);
}

.post-form-body::placeholder {
  color: rgb(180, 180, 180);
}


// post_show.jsx
.post-show-container {
  margin: 40px auto;
  width: 700px;
}

.post-show-title {
  margin: 20px auto;
  font-family: 'Lora', Georgia, serif;
  font-size: 40px;
}

.post-show-author {
  margin: 20px auto;
  font-family: 'Open Sans', Arial, sans-serif;
}

.post-show-author:hover {
  text-decoration: underline;
}

.post-show-body {
  line-height: 1.8;
  letter-spacing: 0.15px;
  font-family: 'Lora', Georgia, serif;
  font-size: 19px;
  white-space: pre-wrap;
}