// post_form.jsx
.post-form-container {
  display: flex;
  justify-content: flex-start;
  margin: 24px auto;
  max-width: 680px;
  min-height: calc(100vh - 182px);  // minus header, footer break, footer, and margin
}

.post-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Nanum Myeongjo', Georgia, Cambria, serif;
}

.post-form-buttons {
  align-self: flex-end;
  margin-bottom: 4px;
}

.post-form-title {
  margin-bottom: 10px;
  padding-top: 12px;
  font-size: 40px;
  line-height: 1.15em;
  color: rgb(0, 0, 0);
}

.post-form-image {
  margin-bottom: 10px;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: rgb(120, 120, 120);
}

.post-form-body {
  height: 100%;
  resize: none;
  font-size: 20px;
  line-height: 1.6em;
  color: rgb(0, 0, 0);
}

.post-form-title, .post-form-image, .post-form-body {
  padding-left: 12px;
  border-left: 1px solid rgb(200, 200, 200);

  &::placeholder {
    color: rgb(200, 200, 200);
  }
}


// post_show.jsx
.post-show-container {
  margin: 42px auto;
  max-width: 680px;
}

.post-show-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.post-show-title {
  margin-bottom: 32px;
  font-family:'Nunito Sans', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.3em;
}

.post-show-author-div {
  display: flex;
  align-items: center;
}

.post-show-author {
  margin-left: 12px;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;

  &:hover {
    text-decoration: underline;
  }
}

.post-show-author-avatar {
  margin-left: 2px;
  height: 44px;
  width: 44px;
  font-size: 44px;
  color: rgb(212, 222, 212);
}

.post-show-line-break {
  margin-top: 24px; 
  margin-bottom: 32px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.post-show-img-container {
  display: flex;
  align-items: center;
  max-height: 450px;
  overflow: hidden;
  margin: 20px 0;

  img {
    width: 100%;
  }
}

.post-show-body {
  margin: 42px 0;
  font-family: 'Nanum Myeongjo', Georgia, Cambria, serif;
  font-size: 20px;
  line-height: 1.6em;
  white-space: pre-line;
}

.post-show-footer-container {
  background: rgb(249, 249, 249);
  padding: 48px 0;
}

.post-show-footer {
  margin: auto;
  max-width: 680px;
}

.post-show-footer-avatar {
  display: flex;
  margin-left: 2px;
  height: 72px;
  width: 72px;
  border-radius: 99em;
  font-size: 72px;
  background: rgb(255, 255, 255);
  color: rgb(212, 222, 212);
}

.post-show-footer-author {
  margin-top: 16px;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
}


// buttons
.post-form-delete, .post-form-submit, .post-show-update {
  margin-left: 10px;
  width: 110px;
  height: 24px;
  border-radius: 99em;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.post-form-submit, .post-show-update {
  border: 1px solid rgb(26, 137, 23);
  color: rgb(26, 137, 23);

  &:hover {
    border: 1px solid rgb(15, 115, 12);
    color: rgb(15, 115, 12);
  }
}

.post-form-delete {
  border: 1px solid rgb(201, 74, 74);
  color: rgb(201, 74, 74);

  &:hover {
    border: 1px solid rgb(230, 30, 30);
    color: rgb(230, 30, 30);
  }
}