// post_form.jsx
.post-form-container {
  display: flex;
  justify-content: flex-start;
  margin: 30px auto;
  width: 700px;
  height: 100%;
}

.post-form {
  display: flex;
  flex-direction: column;
  font-family: 'Lora', Georgia, serif;
  width: 100%;
}

.post-form-buttons {
  align-self: flex-end;
  margin-bottom: 10px;
}

.post-form-title {
  padding-left: 5px;
  width: 694px;
  font-size: 35px;
  border-left: 1px solid rgb(211, 211, 211);
  color: rgb(0, 0, 0);
}

.post-form-image {
  margin-top: 10px;
  padding-left: 5px;
  width: 694px;
  font-size: 14px;
  border-left: 1px solid rgb(211, 211, 211);
  color: rgb(110, 110, 110);
}

.post-form-body {
  margin-top: 10px;
  padding-left: 5px;
  width: 694px;
  height: 100%;
  resize: none;
  line-height: 1.8;
  letter-spacing: 0.15px;
  font-size: 19px;
  border-left: 1px solid rgb(211, 211, 211);
  color: rgb(0, 0, 0);
}

.post-form-title::placeholder, .post-form-image::placeholder,
.post-form-body::placeholder {
  color: rgb(180, 180, 180);
}


// post_show.jsx
.post-show-container {
  margin: 30px auto;
  width: 700px;
}

.post-show-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
}

.post-show-title {
  margin-bottom: 20px;
  font-family: 'Lora', Georgia, serif;
  font-size: 40px;
}

.post-show-author-div {
  display: flex;
  align-items: center;
}

.post-show-author {
  margin: 0px 10px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
}

.post-show-author-pic {
  font-size: 48px;
  color: rgb(140, 175, 165);
}

.post-show-author:hover {
  text-decoration: underline;
}

.post-show-img-container {
  display: flex;
  align-items: center;
  max-height: 450px;
  overflow: hidden;
  margin: 20px auto;
}
.post-show-img-container > img {
  width: 100%;
}

.post-show-body {
  margin: 40px auto;
  line-height: 1.8;
  letter-spacing: 0.15px;
  font-family: 'Lora', Georgia, serif;
  font-size: 19px;
  white-space: pre-line;
}


// buttons
.post-form-delete, .post-form-submit, .post-show-update {
  width: 104px;
  height: 23px;
  border-radius: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(3, 169, 125);
  color: rgb(3, 169, 125);
}

.post-form-delete, .post-form-submit {
  margin-left: 10px;
}

.post-form-submit:hover, .post-show-update:hover {
  border: 1px solid rgb(2, 158, 116);
  color: rgb(1, 143, 105);
}

.post-form-delete:hover {
  border: 1px solid rgb(210, 0, 0);
  color: rgb(210, 0, 0);
}


.loading {
  display: flex;
  align-content: center;
  // justify-content: baseline;
  margin: auto;
  height: 100%;
}