// post_form.jsx
.post-form-container {
  display: flex;
  justify-content: flex-start;
  margin: 30px auto;
  max-width: 680px;
  height: 100%;
}

.post-form {
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Myeongjo', Georgia, Cambria, serif;
  width: 100%;
}

.post-form-buttons {
  align-self: flex-end;
  margin-bottom: 10px;
}

.post-form-title {
  padding-left: 5px;
  width: 694px;
  font-size: 35px;
  border-left: 1px solid rgb(211, 211, 211);
  color: rgb(0, 0, 0);
}

.post-form-image {
  margin-top: 10px;
  padding-left: 5px;
  width: 694px;
  font-size: 14px;
  border-left: 1px solid rgb(211, 211, 211);
  color: rgb(110, 110, 110);
}

.post-form-body {
  margin-top: 10px;
  padding-left: 5px;
  width: 694px;
  height: 100%;
  resize: none;
  line-height: 1.8;
  letter-spacing: 0.15px;
  font-size: 19px;
  border-left: 1px solid rgb(211, 211, 211);
  color: rgb(0, 0, 0);
}

.post-form-title::placeholder, .post-form-image::placeholder,
.post-form-body::placeholder {
  color: rgb(180, 180, 180);
}


// post_show.jsx
.post-show-container {
  margin: 48px auto;
  max-width: 680px;
}

.post-show-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
}

.post-show-title {
  margin-bottom: 32px;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 40px;
}

.post-show-author-div {
  display: flex;
  align-items: center;
}

.post-show-author {
  margin-left: 12px;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.post-show-author-pic {
  margin-left: 2px;
  height: 44px;
  width: 44px;
  font-size: 44px;
  color: rgb(212, 222, 212);
}

.post-show-author:hover {
  text-decoration: underline;
}

.post-show-line-break {
  margin-top: 24px; 
  margin-bottom: 32px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.post-show-img-container {
  display: flex;
  align-items: center;
  max-height: 450px;
  overflow: hidden;
  margin: 20px 0;
}
.post-show-img-container > img {
  width: 100%;
}

.post-show-body {
  margin: 42px 0;
  line-height: 1.6em;
  font-family: 'Nanum Myeongjo', Georgia, Cambria, serif;
  font-size: 20px;
  white-space: pre-line;
}

.post-show-footer-container {
  background: rgb(249, 249, 249);
  padding: 48px 0;
}

.post-show-footer {
  margin: auto;
  max-width: 680px;
}

.post-show-footer-author-pic {
  display: flex;
  margin-left: 2px;
  height: 72px;
  width: 72px;
  border-radius: 99em;
  font-size: 72px;
  background: rgb(255, 255, 255);
  color: rgb(212, 222, 212);
}

.post-show-footer-author {
  margin-top: 16px;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
}


// buttons
.post-form-delete, .post-form-submit, .post-show-update {
  width: 104px;
  height: 23px;
  border-radius: 99em;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(82, 174, 79);
  color: rgb(82, 174, 79);
}

.post-form-delete, .post-form-submit {
  margin-left: 10px;
}

.post-form-submit:hover, .post-show-update:hover {
  border: 1px solid rgb(26, 137, 23);
  color: rgb(26, 137, 23);
}

.post-form-delete:hover {
  border: 1px solid rgb(210, 0, 0);
  color: rgb(210, 0, 0);
}