// user_show.jsx
.user-profile-container {
  margin: 70px auto;
  width: 678px;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
}

.user-profile-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.user-profile-header-left {
  display: flex;
  align-items: center;
}

.user-profile-name {
  font-weight: 600;
  font-size: 30px;
}

.user-profile-pic {
  display: flex;
  align-self: flex-start;
  font-size: 130px;
  color: rgb(212, 222, 212);
}

.user-profile-content {
  margin: 30px auto;
  font-size: 16px;
  color: rgb(150, 150, 150);
}

.user-content-heading {
  padding-top: 20px;
  border-top: 1px solid rgb(220, 220, 220);
  font-weight: 600;
  font-size: 18px;
  color: rgb(0, 0, 0);
}


// user_post_item_container.jsx
.user-post-container {
  margin: 23px auto;
  padding: 20px;
  height: 488;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgb(220, 220, 220);
  color: rgb(0, 0, 0);
}

.user-post-heading {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.user-post-heading-left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.user-post-pic {
  display: flex;
  font-size: 40px;
  color: rgb(212, 222, 212);
}

.user-post-name {
  font-size: 14px;
  margin: 10px;
}

.user-post-name:hover {
  text-decoration: underline;
}

.user-post-buttons {
  display: flex;
  flex-direction: column;
}

.user-post-img-container {
  display: flex;
  align-items: center;
  height: 190px;
  overflow: hidden;
}
.user-post-img-container > img {
  width: 100%;
}

.user-post-title {
  margin: 20px auto;
  font-weight: 600;
  font-size: 28px;
}

.user-post-preview {
  margin: 15px auto;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  // font-family: 'Lora', Georgia, serif;
  color: rgb(120, 120, 120);
  font-size: 17px;
}

.user-post-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(150, 150, 150);
}


// buttons
.create-post-button, .user-post-update, .user-post-delete {
  border-radius: 99em;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(120, 120, 120);
  color: rgb(80, 80, 80);
}

.create-post-button {
  margin-left: 20px;
  width: 90px;
  height: 23px;
  font-size: 13px;
  text-align: center;
}

.user-post-update, .user-post-delete {
  margin-bottom: 5px;
  width: 70px;
  height: 18px;
  font-size: 11.5px;
  text-align: center;
}

.create-post-button:hover, .user-post-update:hover {
  border: 1px solid rgb(80, 80, 80);
  color: rgb(40, 40, 40);
}

.user-post-delete:hover {
  border: 1px solid rgb(210, 0, 0);
  color: rgb(210, 0, 0);
}