// user_show.jsx
.user-profile-container {
  margin: 42px auto;
  max-width: 680px;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
}

.user-profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-profile-header-left {
  display: flex;
  align-items: center;
}

.user-profile-name {
  font-weight: 700;
  font-size: 42px;
}

.user-profile-pic {
  display: flex;
  align-self: flex-start;
  height: 88px;
  width: 88px;
  font-size: 88px;
  color: rgb(212, 222, 212);
}

.user-profile-line-break {
  margin-top: 32px;
  margin-bottom: 24px; 
  border-bottom: 1px solid rgb(230, 230, 230);
}

.user-profile-content {
  margin-bottom: 42px;
}

.user-content-heading {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.user-profile-no-content {
  margin-top: 80px;
  font-size: 16px;
  color: rgb(120, 120, 120);
}


// user_post_item_container.jsx
.user-post-container {
  margin-bottom: 24px;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgb(220, 220, 220);
  color: rgb(0, 0, 0);
}

.user-post-heading {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.user-post-heading-left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.user-post-pic {
  display: flex;
  font-size: 40px;
  color: rgb(212, 222, 212);
}

.user-post-name {
  font-size: 14px;
  margin: 12px;

  &:hover {
    text-decoration: underline;
}
}

.user-post-buttons {
  display: flex;
  flex-direction: column;
}

.user-post-img-container {
  display: flex;
  align-items: center;
  height: 190px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.user-post-title {
  margin: 20px auto;
  font-weight: 600;
  font-size: 28px;
}

.user-post-preview {
  margin: 14px auto;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(120, 120, 120);
  font-size: 16px;
}

.user-post-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(120, 120, 120);
}


// buttons
.create-post-button, .user-post-update, .user-post-delete {
  border-radius: 99em;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(120, 120, 120);
  color: rgb(80, 80, 80);
}

.create-post-button {
  margin-left: 20px;
  width: 100px;
  height: 24px;
  font-size: 14px;
  text-align: center;
}

.user-post-update, .user-post-delete {
  margin-bottom: 4px;
  width: 70px;
  height: 18px;
  font-size: 12px;
  text-align: center;
}

.create-post-button:hover, .user-post-update:hover {
  border: 1px solid rgb(80, 80, 80);
  color: rgb(40, 40, 40);
}

.user-post-delete:hover {
  border: 1px solid rgb(210, 0, 0);
  color: rgb(210, 0, 0);
}