// user_show.jsx
.user-profile-container {
  margin: 42px auto;
  max-width: 680px;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
}

.user-profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-profile-header-left {
  display: flex;
  align-items: center;
}

.user-profile-name {
  font-weight: 700;
  font-size: 42px;
}

.user-profile-avatar {
  display: flex;
  align-self: flex-start;
  height: 88px;
  width: 88px;
  font-size: 88px;
  color: rgb(212, 222, 212);
}

.user-profile-line-break {
  margin-top: 32px;
  margin-bottom: 24px; 
  border-bottom: 1px solid rgb(230, 230, 230);
}

.user-profile-content {
  margin-bottom: 42px;
}

.user-content-heading {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.user-profile-no-content {
  margin-top: 80px;
  font-size: 16px;
  color: rgb(120, 120, 120);
}


// user_post_item_container.jsx
.user-post-container {
  padding: 30px 0;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.user-post-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.user-post-author {
  display: flex;
  align-items: center;
}

.user-post-avatar {
  display: flex;
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: rgb(212, 222, 212);
}

.user-post-name {
  font-size: 14px;
  margin-left: 8px;

  &:hover {
    text-decoration: underline;
  }
}

.user-post-content {
  display: flex;
  justify-content: space-between;
}

.user-post-text {
  width: 100%;
}

.user-post-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2em;
}

.user-post-preview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: rgb(120, 120, 120);
  font-size: 16px;
}

.user-post-img {
  margin-left: 42px;
  height: 107px;
  width: 160px;
  object-fit: cover;
  border-radius: 2px;
}


// buttons
.create-post-button, .user-post-update, .user-post-delete {
  border-radius: 99em;
  text-align: center;
  background: rgb(255, 255, 255);
}

.create-post-button {
  margin-left: 20px;
  width: 100px;
  height: 24px;
  font-size: 14px;
}

.user-post-update, .user-post-delete {
  margin-left: 8px;
  width: 70px;
  height: 18px;
  font-size: 12px;
}

.create-post-button, .user-post-update {
  border: 1px solid rgb(120, 120, 120);
  color: rgb(80, 80, 80);

  &:hover {
    border: 1px solid rgb(80, 80, 80);
    color: rgb(40, 40, 40);
  }
}

.user-post-delete {
  border: 1px solid rgb(201, 74, 74);
  color: rgb(201, 74, 74);

  &:hover {
    border: 1px solid rgb(230, 30, 30);
    color: rgb(230, 30, 30);
  }
}