.session-form-container, .session-form, .session-form-label,
.session-errors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form-container {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12.5px;
}

.session-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 0px 10px;
  font-size: 20px;
  color: rgb(120, 120, 120);
}

.session-header {
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 34px;
}

.session-form {
  margin-top: 20px;
}

.session-form-label {
  color: rgb(120, 120, 120);
  margin: 10px;
}

.session-form-label > input {
  padding: 7px;
  border-bottom: 1px solid rgb(211, 211, 211);
  font-size: 17px;
  width: 290px;
  color: rgb(40, 40, 40);
}

.session-errors {
  margin: 10px;
  color: #b22222
}

.session-form-submit, .demo-button {
  margin: 5px;
  width: 130px;
  height: 37px;
  border-radius: 99em;
  font-size: 14px;
  text-align: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(140, 140, 140);
  color: rgb(80, 80, 80);
}

.session-form-submit:hover, .demo-button:hover {
  border: 1px solid rgb(80, 80, 80);
  color: rgb(40, 40, 40);
}

.session-form-footer {
  display: flex;
  margin: 15px;
  font-size: 14px;
  color: rgb(63, 63, 63);
}

.other-form-button {
  margin-left: 5px;
  color: rgb(82, 174, 79);
}

.other-form-button:hover {
  color: rgb(26, 137, 23);
}