// App.jsx
.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}


// header.jsx, _greeting.jsx
.nav-bar-container, .nav-bar, .header-link, .nav-bar-right {
  display: flex;
  align-items: center;
}

// header.jsx
.nav-bar-container {
  height: 65px;
  box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.4);
}

.nav-bar {
  justify-content: space-between;
  margin: auto;
  width: 1030px;
}

.header-link {
  font-family: 'Playfair Display', Georgia, serif;
  font-weight: 700;
  font-size: 27px;
}


// _greeting.jsx
.nav-bar-name {
  font-family: 'Lora', Georgia, serif;
  font-size: 16px;
}

.nav-bar-profile-link {
  display: flex;
  margin: auto 12px;
  font-size: 33px;
  color: rgb(212, 222, 212);
}


// buttons
.login-button {
  margin: auto 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  color: rgb(82, 174, 79);
}

.login-button:hover {
  color: rgb(26, 137, 23);
}

.signup-button, .logout-button {
  width: 104px;
  height: 35px;
  border-radius: 99em;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(82, 174, 79);
  color: rgb(82, 174, 79);
}

.signup-button:hover, .logout-button:hover {
  border: 1px solid rgb(26, 137, 23);
  color: rgb(26, 137, 23);
}


// footer.jsx
.footer {
  min-height: 67px;
}

.footer-break {
  border-bottom: 1px solid rgb(242, 242, 242);
}

.footer-text {
  margin: auto;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  font-family: 'Open Sans', Arial, sans-serif;
  color: rgb(117, 117, 117);
  font-size: 13px;
}


// modal.jsx
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.modal-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 550px;
  transform: translate(-50%, -50%);
  background-image: url(https://cdn-images-1.medium.com/max/1800/1*gnUBeL-INIVDk0_GyL8x1g.png);
  // background-image: url(https://cdn-images-1.medium.com/max/1800/1*Cs2lqW1GyoPdYqs1U0Xudg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0px 2px 10px 0px rgb(192, 192, 192);
}